page-items {
}

.itemList{
		padding-left: 10px;
		border-bottom: solid 1px lightblue;
    	padding-bottom: 15px;
    	font-size: 15px;
}

.searchBar{
	background-color: inherit;
	font-size: 18px;
}

.revbtn{
	float: right;
    background-color: #488aff !important;

}