<html>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <div id="notify"></div>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Requests</ion-title>
    <ion-buttons end>
      <button ion-button end (click)="openOptions()"><ion-icon class="setting-icon" name="settings" ></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
       <img id="loadingscreen" src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif">

<ion-list >
  <button ion-item detail-none  *ngFor="let req of requests" (click)="openRequest(req)" id="itemCards">
    <ion-card class="requestHome" >
    <ion-card-header>
      &nbsp; Request Number: {{req.requestID}}
       <div class="statusCircle {{req.status}}"> </div>
    </ion-card-header>

    <ion-card-content class="req-content" >
            <ion-item detail-none class="det"> Status: {{req.status.toUpperCase()}} </ion-item>
            <ion-item detail-none *ngIf=" req.status == 'declined' " > Reason: {{req.details}} </ion-item>

            <ion-item detail-none > Date Sent: {{formatTimestamp(req.requestSent) }} </ion-item>
            <ion-item detail-none > Date Needed: {{formatTimestamp(req.requestNeeded)}} </ion-item>
            <ion-item detail-none *ngIf=" req.proxyID != ' ' " > Authorized to Claim: {{req.proxyID}} </ion-item>
            <ion-item detail-none > Items: 


       <ion-grid *ngFor="let item of req.items" >
                <ion-row >
                  <ion-col> {{item.quantity}}{{item.amount}}{{item.unit}} </ion-col> <ion-col> {{item.name}} </ion-col>
                </ion-row>
            </ion-grid>
          </ion-item>
    </ion-card-content>
  </ion-card>
</button>
</ion-list>

<ion-fab class="add-fab-btn">
    <button ion-fab (click)="openAddRequestModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
</html>