page-notification {

}


.new{
	background-color: lightblue !important;
}

.old{
	background-color: #f2f5f9 !important;
}


.new, .old{
	width: 100%;
	padding: 20px;
	text-align: left;
	margin-bottom: -20px;
}