page-request-modal {

}

#editRequest{
	display:none;
}


.btn-1{



}
.btn-2{
	display:none;
	
}


.myfooter{
    background-color: #fff;
}

ion-card-header{
	border-bottom: 2px solid #c3b6c6;
}

.req-content{
	padding: 10px !important;
}


.edit-input{
    border: none;
    border-bottom: 1px solid black;
    float:right; 
    width: 30%;
    display: inline;
}
