page-add-request-modal {

}
label{
	display:block;
	margin-bottom: 8px;
}
.reqVal{
	width:100%;
	padding:8px;
	margin-bottom: 3px;
}

#auth-error{
	color: red;
	font-style: italic;
}
scroll-content {
  overflow-y: scroll;
}