page-item-summary {

}

.sel{
	border: none;
  	border-bottom: 1px solid black;
  	float:right; 
  	width: 30%;
}


.closebtn{
	margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    border-right-width: 0;
    border-left-width: 0;
   bottom: 10px;
    position: fixed;
    width: 92%;

}
